<a href="https://colab.research.google.com/github/Sirabhop/MFP-Volunteer/blob/main/20220705_MoI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Ministry of Interior

Import neccessary function and library

In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import requests
import json
from IPython.display import clear_output

In [ ]:
os.chdir("/content/drive/MyDrive/My Project/MFP_Volunteer/20220705_MoI_DPT and DoPA")
df = pd.read_excel("/content/drive/MyDrive/My Project/MFP_Volunteer/budget_df.xlsx", sheet_name="raw")

In [ ]:
a = np.array([[1,2],[3,4]])
a

array([[1, 2],
       [3, 4]])

In [ ]:
np.dot(a,a)

array([[ 7, 10],
       [15, 22]])

####Function

In [ ]:
#For tracking data
def track_status(df, col_list):
  print('Row:', "{:,}".format(len(df.index)), 'and', 'Columns:', "{:,}".format(len(df.columns)))
  for i in range(len(col_list)):
    print(col_list[i]+':', "{:,}".format(df[col_list[i]].sum()))

##1. Slicing for specific unit

Focus on 
1. Department of Public Work and Town & Country Planning
2. Department of Provincial Administration

In [ ]:
df = df[df['MINISTRY'] == "กระทรวงมหาดไทย"]
track_status(df, ['AMOUNT'])

Row: 2,479 and Columns: 123
AMOUNT: 405,698,900,000.0

In [ ]:
df.BUDGETARY_UNIT.unique()

array(['กรมส่งเสริมการปกครองท้องถิ่น', 'กรมโยธาธิการและผังเมือง',
       'กรมป้องกันและบรรเทาสาธารณภัย', 'กรมที่ดิน', 'กรมการพัฒนาชุมชน',
       'สำนักงานปลัดกระทรวงมหาดไทย', 'กรมการปกครอง'], dtype=object)

In [ ]:
df_dpt = df[df['BUDGETARY_UNIT'] == 'กรมโยธาธิการและผังเมือง']
df_dpt.dropna(axis = 1, how = 'all', inplace = True)
df_dpt.reset_index(drop = True, inplace = True)
track_status(df_dpt, ['AMOUNT'])

Row: 1,682 and Columns: 33
AMOUNT: 124,846,424,700.0

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [ ]:
track_status(df[df['BUDGETARY_UNIT'] == 'กรมการปกครอง'], ['AMOUNT'])

Row: 156 and Columns: 123
AMOUNT: 38,591,607,200.0

In [ ]:
df_dopa = df[df['BUDGETARY_UNIT'] == 'กรมการปกครอง']
df_dopa.dropna(axis = 1, how = 'all', inplace = True)
df_dopa.reset_index(drop = True, inplace = True)
track_status(df_dopa, ['AMOUNT'])

Row: 156 and Columns: 29
AMOUNT: 38,591,607,200.0

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

## 2. Department of Public Works and Town & Country Planning

Main fous is dam

In [ ]:
df_dam = df[df.ITEM_DESCRIPTION.str.contains('เขื่อนป้องกันตลิ่ง') | df.ITEM_DESCRIPTION.str.contains('เขื่อนบ้องกันตลิ่ง')].reset_index(drop = True)

In [ ]:
df_dam.groupby("MAIN").BUDGETARY_UNIT.nunique().sort_values(ascending = False)

MAIN
การก่อสร้างเขื่อนป้องกันตลิ่งริมแม่น้ำโก-ลก                    1
เขื่อนป้องกันตลิ่งริมแม่น้ำตาปี                                1
เขื่อนป้องกันตลิ่งริมแม่น้ำท่าตะเภา                            1
เขื่อนป้องกันตลิ่งริมแม่น้ำท่าจีนหมู่ที่                       1
เขื่อนป้องกันตลิ่งริมแม่น้ำท่าจีน                              1
                                                              ..
เขื่อนป้องกันตลิ่งริมคลองภูมี                                  1
เขื่อนป้องกันตลิ่งริมคลองภาษีเจริญ                             1
เขื่อนป้องกันตลิ่งริมคลองพิกุลหมู่ที่                          1
เขื่อนป้องกันตลิ่งริมคลองพังงา                                 1
โครงการซ่อมแซมเขื่อนป้องกันตลิ่งริมแม่น้ำโขงบริเวณแก่งกะเบา    1
Name: BUDGETARY_UNIT, Length: 405, dtype: int64

In [ ]:
df_dam = df_dam[df_dam['MINISTRY'] != 'กระทรวงคมนาคม']
df_dam = df_dam[df_dam. != 'กระทรวงคมนาคม']

In [ ]:
df_dam.dropna(axis = 1, how = 'all', inplace = True)

In [ ]:
df_dam.to_excel("df_dam.xlsx", sheet_name = 'raw', index = False)

In [ ]:
'สำนักงานปลัดกระทรวงสาธารณสุข' 'สำนักงานคณะกรรมการการศึกษาขั้นพื้นฐาน' 'สถาบันวิจัยดาราศาสตร์แห่งชาติ (องค์การมหาชน)', 
'มหาวิทยาลัยเทคโนโลยีสุรนารี' 'จังหวัดเพชรบุรี' 'จังหวัดลพบุรี', 'จังหวัดสุพรรณบุรี', 'กลุ่มจังหวัดภาคตะวันออก 2', 'กรมทรัพยากรน้ำ',
'กรมทรัพยากรน้ำ'

In [ ]:
'ช่อมสร้างผิวทางแอสฟัลต์คอนกรีต', 'ขุดลอกแม่น้ำตากแดด', 'ขยายช่องจราจรจาก', 'ช่อมสร้างถนนลาดยางแอสฟัลคอนกรีต', 'ก่อสร้างสะพานคนเดิน', 
'ขยายทางจราจร', 'ปรับปรุงทางหลวงเพื่อสนับสนุนแหล่งท่องเที่ยววัดพิกุลทอง', 'ค่าจ้างปรับปรุงโครงการไฟฟ้าพลังน้ำห้วยประทาว', 'รถบรรทุก', 'ขยายระบบท่อสงน้ำสายปราณบุรี'
'ขุดลอกโดยรถขุดดำเนินการเอง', 'ค่าศึกษา', 'ถนนยางพาราแอสฟัลท์ติกคอนกรีตคลองสาย', 'ระบบท่อสงน้ำและอาคารประกอบพร้อมส่วนประกอบอื่น', 'อาคารป้องกันตลิ่งแม่น้ำเพชรบุรี', 
'อาคารท่อระบายน้ำลงลำน้ำเดิมและอาคารประกอบ', 'สถานีสูบน้ำและอาคารประกอบ', 'ป้องกันการกัดเชาะตลิ่งในลำน้ำสรวย', 'ปรับปรุงระบบส่งน้ำฝั่งขวา', 'ปรับปรุงระบบส่งน้ำฝั่งช้าย'

#3. Department of Provincial Administration

In [ ]:
df_personel = df[df.MAIN.str.contains('ค่าตอบแทน')].groupby('BUDGETARY_UNIT')[['AMOUNT', 2023]].sum().sort_values(by = 'AMOUNT', ascending = False)

In [ ]:
df_personel.reset_index(inplace = True)

In [ ]:
df_personel[df_personel['AMOUNT'] != df_personel[2023]]

Empty DataFrame
Columns: [BUDGETARY_UNIT, AMOUNT, 2023]
Index: []

In [ ]:
df[df['CATEGORY_LV1'] == 'งบบุคลากร'].groupby(['BUDGETARY_UNIT']).sum().sort_values(by = 'AMOUNT', ascending = False)

,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,...,2065,2066,AMOUNT,REF_PAGE_NO,CROSS_FUNC?,CATEGORY_LV6,OBLIGED?,START,END,DURATION
BUDGETARY_UNIT,,,,,,,,,,,,,,,,,,,,,
สำนักงานปลัดสำนักนายกรัฐมนตรี,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,6.068357e+11,102,0,0.0,0,6069,6069,0
สำนักงานคณะกรรมการข้าราชการพลเรือน,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.610895e+09,172,0,0.0,0,2023,2023,0
สำนักงานนโยบายและยุทธศาสตร์การค้า,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,5.121680e+07,354,0,0.0,0,2023,2023,0
สำนักงานปลัดกระทรวงแรงงาน,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,4.232700e+07,310,0,0.0,0,2023,2023,0

In [ ]:
df_dopa['DURATION'] = df_dopa['DURATION']+1

In [ ]:
df_dopa.groupby(['MAIN', 'PROVINCE'])[['AMOUNT']].sum().sort_values(by = 'AMOUNT', ascending = False)

                                                                                AMOUNT
MAIN                                               PROVINCE
ระบบเสื่อสารวิทยุเฉพาะกิจ                          กรุงเทพมหานคร           787333800.0
พัฒนาระบบบริหารจัดการภาครัฐเพื่อรักษาความสงบเรี... กรุงเทพมหานคร           370524700.0
ระบบคอมพิวเตอร์แเละอุปกรณ์เพื่อทดแทนระบบการบูรณ... จังหวัดปทุมธานี          86002000.0
ค่าก่อสร้างศูนย์บริการภาครัฐแบบเบ็ดเสร็จอำเภอเม... จังหวัดนนทบุรี           83000000.0
ระบบฐานข้อมูลหัวกระสุนปืนและปลอกกระสุนปืน          จังหวัดราชบุรี           82851000.0
                                                   จังหวัดพิษณุโลก          82751100.0
                                                   จังหวัดสุราษฎร์ธานี      82751100.0
ค่าก่อสร้างอาคารปฏิบัติการทางยุทธวิธีสิบสวนสอบสวน  จังหวัดลพบุรี            62380000.0
ค่าก่อสร้างศูนย์บริการแบบเบ็ดเสร็จ                 จังหวัดเชียงราย          45800000.0
ระบบการเตรียมข้อมูลของบัตรประจำตัวประชาชน          จังหวัดปทุมธานี          31475100.0
ค่าก่อสร้างอาคารที่ว่าการอาเภอหนองเรือ             จังหวัดขอนแก่น           26980000.0
ค่าก่อสร้างอาคารที่ว่าการอำเภอขลุง                 จังหวัดจันทบุรี          26980000.0
ค่าก่อสร้างอาคารที่ว่าการอาเภอภูเขียว              จังหวัดชัยภูมิ           26980000.0
ค่าก่อสร้างอาคารที่ว่าการอำเภอสูงเนิน              จังหวัดนครราชสีมา        26980000.0
ค่าก่อสร้างอาคารที่ว่าการอำเภอเมืองอุทัยธานี       จังหวัดอุทัยธานี         26980000.0
ค่าก่อสร้างอาคารที่ว่าการอำเภอลำสนธิ               จังหวัดลพบุรี            26980000.0
รถบรรทุก(ดีเซล)                                    จังหวัดปัตตานี           16336000.0
                                                   จังหวัดยะลา              16336000.0
ค่าก่อสร้างอาคารที่พักอาศัย                        จังหวัดประจวบคีรีขันธ์   14600000.0
                                                   จังหวัดบุรีรัมย์         14600000.0
ค่าก่อสร้างอาคารศูนย์ปฏิบัติการด้านการจัดเก็บข้... จังหวัดราชบุรี           14593500.0
รถบรรทุก                                           จังหวัดยะลา              13120000.0
                                                   จังหวัดปัตตานี           10870000.0
ค่าก่อสร้างกองร้อยอาสารักษาดินแดนตามแบบมาตรฐานข... จังหวัดน่าน              10242800.0
                                                   จังหวัดนครพนม            10242800.0
                                                   จังหวัดพัทลุง            10242800.0
                                                   จังหวัดพิษณุโลก          10242800.0
                                                   จังหวัดสงขลา             10242800.0
เครื่องคอมพิวเตอร์แม่ข่ายทดแทนเพื่อการบริหารจัด... กรุงเทพมหานคร             9951000.0
รถตรวจการณ์                                        จังหวัดสงขลา              8360000.0
                                                   จังหวัดยะลา               8360000.0
รถบรรทุก(ดีเซล)                                    จังหวัดนราธิวาส           7459000.0
รถบรรทุก                                           จังหวัดสงขลา              6560000.0
รถบรรทุก(ดีเซล)                                    จังหวัดสงขลา              5209000.0
รถปฏิบัติการทางยุทธวิธี                            กรุงเทพมหานคร             4495400.0
รถตรวจการณ์                                        จังหวัดนราธิวาส           4180000.0
                                                   จังหวัดปัตตานี            4180000.0
รถโดยสารขนาด                                       จังหวัดยะลา               2716000.0
รถบรรทุก                                           จังหวัดนราธิวาส           2060000.0
รถโดยสารขนาด                                       จังหวัดฉะเชิงเทรา         1358000.0
                                                   จังหวัดสุรินทร์           1358000.0
                                                   จังหวัดกระบี่             1358000.0
                                                   จังหวัดแม่ฮ่องสอน         1358000.0
                                                   จังหวัดเชียงใหม่          1358000.0
                                                   จังหวัดอ่างทอง            1358000.0
                                                   จังหวัดสุราษฎร์ธานี       1358000.0
                                                   จังหวัดตราด               1358000.0
                                                   จังหวัดสิงห์บุรี          1358000.0
                                                   จังหวัดสมุทรปราการ        1358000.0
                                                   จังหวัดสงขลา              1358000.0
                                                   จังหวัดจันทบุรี           1358000.0
                                                   จังหวัดลพบุรี             1358000.0
                                                   จังหวัดร้อยเอ็ด           1358000.0
                                                   จังหวัดปัตตานี            1358000.0
                                                   จังหวัดน่าน               1358000.0
                                                   จังหวัดนนทบุรี            1358000.0
                                                   จังหวัดลำปาง              1358000.0

In [ ]:
check = df.groupby(['MINISTRY'])[['AMOUNT', 2023]].sum().sort_values(by = 'AMOUNT', ascending = False)

In [ ]:
check[check[2023] <= 11517780500]

                                             AMOUNT          2023
MINISTRY
กระทรวงยุติธรรม                        2.268090e+10  7.733045e+09
หน่วยงานของรัฐสภา                      1.377881e+10  1.109594e+10
หน่วยงานของศาล                         1.040858e+10  1.239281e+09
หน่วยงานขององค์กรอิสระและองค์กรอัยการ  9.313607e+09  1.968531e+09
กระทรวงดิจิทัลเพื่อเศรษฐกิจและสังคม    9.225756e+09  3.082314e+09
ส่วนราชการในพระองค์                    8.611670e+09  8.611670e+09
สภากาชาดไทย                            5.495638e+09  2.724790e+09
กระทรวงวัฒนธรรม                        5.364911e+09  3.074433e+09
กระทรวงอุตสาหกรรม                      4.456310e+09  2.619579e+09
กระทรวงการต่างประเทศ                   4.401756e+09  3.006208e+09
กระทรวงพาณิชย์                         4.179863e+09  2.839302e+09
กระทรวงการท่องเที่ยวและกีฬา            3.897877e+09  3.021280e+09
กระทรวงแรงงาน                          3.097352e+09  3.029278e+09
กระทรวงพลังงาน                         2.526109e+09  1.489668e+09
หน่วยงานอื่นของรัฐ                     4.051050e+07  4.051050e+07

In [ ]:
df_personel = df[df.MAIN.str.contains('รถประจำตำแหน่ง')].groupby('BUDGETARY_UNIT')[['AMOUNT', 2023]].sum().sort_values(by = 'AMOUNT', ascending = False)

#4. Export

In [ ]:
df_dpt.to_excel("df_dpt.xlsx", sheet_name = 'raw', index = False)

In [ ]:
df_dopa.to_excel("df_dopa.xlsx", sheet_name = 'raw', index = False)

In [ ]:
df_personel.to_excel("df_personel.xlsx", sheet_name = 'raw_personel', index = False)