<a href="https://colab.research.google.com/github/Sirabhop/MFP-Volunteer/blob/main/20220614_DWR_and_DGR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
os.chdir('/content/drive/MyDrive/My Project/MFP_Volunteer/20220614_MinistryOfNRandE')

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/งบประมาณประเทศไทย 2566 (ฉบับร่างพ.ร.บ.) - PDF to CSV - RELEASE_22-05-24.csv')

In [ ]:
#Pandas setting
pd.options.display.float_format = '{:,}'.format

#**Step 1: Data Profiling**

In [ ]:
#remove comma
df['AMOUNT'] = df['AMOUNT'].str.replace(',', '').astype('int')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52031 entries, 0 to 52030
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   REF_DOC           52031 non-null  object
 1   REF_PAGE_NO       52031 non-null  int64
 2   MINISTRY          52031 non-null  object
 3   BUDGETARY_UNIT    52031 non-null  object
 4   BUDGET_PLAN       52031 non-null  object
 5   CROSS_FUNC?       52031 non-null  bool
 6   PROJECT           25017 non-null  object
 7   OUTPUT            24647 non-null  object
 8   CATEGORY_LV1      52019 non-null  object
 9   CATEGORY_LV2      49580 non-null  object
 10  CATEGORY_LV3      33257 non-null  object
 11  CATEGORY_LV4      22755 non-null  object
 12  CATEGORY_LV5      457 non-null    object
 13  CATEGORY_LV6      0 non-null      float64
 14  ITEM_DESCRIPTION  52029 non-null  object
 15  FISCAL_YEAR       52031 non-null  int64
 16  OBLIGED?          52031 non-null  bool
 17  AMOUNT            52031 non-null  int64
dtypes: bool(2), float64(1), int64(3), object(12)
memory usage: 6.5+ MB

####**1.1 Ministry**

In [ ]:
df.groupby('MINISTRY')[['AMOUNT']].sum().sort_values('AMOUNT', ascending = False)

                                                          AMOUNT
MINISTRY
งบกลาง                                              590470000000
กระทรวงการคลัง                                      501343355194
กระทรวงมหาดไทย                                      436061569100
กระทรวงคมนาคม                                       409051732304
กระทรวงศึกษาธิการ                                   330394701300
กระทรวงกลาโหม                                       317909595002
ทุนหมุนเวียน                                        206985644200
กระทรวงเกษตรและสหกรณ์                               204405709405
รัฐวิสาหกิจ                                         203475740200
กระทรวงสาธารณสุข                                    180545495283
ส่วนราชการไม่สังกัดสำนักนายกรัฐมนตรี กระทรวง หร...  158903672199
กระทรวงการอุดมศึกษา วิทยาศาสตร์ วิจัยและนวัตกรรม    158123756277
องค์กรปกครองส่วนท้องถิ่น                             95769662701
กระทรวงแรงงาน                                        54411486300
สำนักนายกรัฐมนตรี                                    50723602101
กระทรวงยุติธรรม                                      39641723558
กระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม                39123146108
หน่วยงานของศาล                                       31799251620
หน่วยงานขององค์กรอิสระและองค์กรอัยการ                26682514194
กระทรวงการพัฒนาสังคมและความมั่นคงของมนุษย์           24755190000
จังหวัดและกลุ่มจังหวัด                               21727696100
กระทรวงดิจิทัลเพื่อเศรษฐกิจและสังคม                  12980304000
สภากาชาดไทย                                          11624869400
กระทรวงการต่างประเทศ                                 11047632425
หน่วยงานของรัฐสภา                                    10435044697
กระทรวงวัฒนธรรม                                       9205372802
ส่วนราชการในพระองค์                                   8611669600
กระทรวงพาณิชย์                                        7839573404
กระทรวงอุตสาหกรรม                                     6407895699
กระทรวงการท่องเที่ยวและกีฬา                           6215998998
กระทรวงพลังงาน                                        3953815100
หน่วยงานอื่นของรัฐ                                     477351400

####**1.2 Category**

In [ ]:
df[(df['MINISTRY'] == 'กระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม') & 
   (df['CATEGORY_LV1'] == 'งบบุคลากร')].groupby('BUDGETARY_UNIT')[['AMOUNT']].sum().sort_values('AMOUNT', ascending = False)

                                                        AMOUNT
BUDGETARY_UNIT
กรมอุทยานแห่งชาติ สัตว์ป่า และพันธุ์พืช             5195395400
กรมป่าไม้                                           2471892500
สำนักงานปลัดกระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม    901862000
กรมทรัพยากรน้ำ                                       700754000
กรมทรัพยากรทางทะเลและชายฝั่ง                         480998500
กรมทรัพยากรน้ำบาดาล                                  426453900
กรมทรัพยากรธรณี                                      206247000
กรมควบคุมมลพิษ                                       196007100
กรมส่งเสริมคุณภาพสิ่งแวดล้อม                         172991500
สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม   165686500

In [ ]:
df.groupby('CATEGORY_LV2')[['AMOUNT']].sum().sort_values('AMOUNT', ascending = False)

                                                          AMOUNT
CATEGORY_LV2
ค่าครุภัณฑ์ ที่ดินและสิ่งก่อสร้าง                   971707796324
เงินอุดหนุนทั่วไป                                   649824291614
เงินเดือนและค่าจ้างประจำ                            564719208500
ค่าตอบแทนใช้สอยและวัสดุ                             356493032622
เงินอุดหนุนเฉพาะกิจ                                 132600455509
ค่าใช้จ่ายในการเสริมสร้างกำลังกองทัพ                129381594302
ค่าใช้จ่ายดำเนินงาน                                  27001717300
ค่าใช้จ่ายในการดำรงขีดความสามารถกำลังกองทัพ          25803243800
ค่าสาธารณูปโภค                                       13266957600
ค่าที่ดิน/สิ่งก่อสร้าง                               10306399800
ค่าปรับปรุงแหล่งน้ำ                                   9951220000
ค่าที่ดินและสิ่งก่อสร้าง                              4269889400
ค่าปรับปรุงสิ่งก่อสร้างอื่น                           2938971800
ค่าครุภัณฑ์                                           1183432600
เงินราชการลับ 19 รายการ                                558053000
โครงการจัดตั้งศูนย์วิจัยเกี่ยวกับอุตสาหกรรมทางท...      99000000
งบรายจ่ายอื่น                                           70071800
ค่าใช้จ่ายพัฒนาและส่งเสริมการค้าและธุรกิจในต่าง...      65530700
ค่าใช้จ่ายบุคลากร                                       58183900
ค่าใช้จ่ายในการดำรงสภาพกำลังกองทัพ                      22183500

In [ ]:
df.groupby('CATEGORY_LV3')[['AMOUNT']].sum().sort_values('AMOUNT', ascending = False)

                                                          AMOUNT
CATEGORY_LV3
ค่าที่ดินและสิ่งก่อสร้าง                            907127158224
ค่าที่ดิน/สิ่งก่อสร้าง                              125828387616
ค่าครุภัณฑ์                                          90577925400
ค่าใช้จ่ายบุคลากร                                    64308313900
โครงการเสริมสร้างกำลังกองทัพที่ผูกพันข้ามขีงบปร...   52736220600
ค่าใช้จ่ายดำเนินงาน                                  37804229307
รายการไม่ผูกพัน                                      37455455704
ค่าใช้จ่ายในการจัดการศึกษาขั้นพื้นฐาน                35578851100
โครงการเสริมสร้างกำลังกองทัพที่ผูกพันข้ามปึงบปร...   33407098100
ค่าตอบแทน                                            26912453500
เงินอุดหนุนค่า ใช้จ่ายในการจัดการศึกษาขั้นพิ้นฐ...   26367082300
โครงการเสริมสร้างกำลังกองทัพที่ผูกพันข้ามปีงบปร...   19987722200
โครงการเสริมสร้างยุทโธปกรณ์                           9073571100
ค่าใช้จ่ายดำรงขีดความสามารถกำลังกองทัพที่ผูกพัน...    7806536000
โครงการเสริมสร้างหน่วย                                6427200400
เงินอุดหนุนค่า ใช้จ่ายในการจัดการศึกษาขั้นพื้นฐ...    4369889600
เงินอุดหนุนค่า ใช้จ่ายในการจัดการศึกษาขั้นพื้นฐ...    4270149600
เงินอุดหนุนค่า ใช้จ่ายในการจัดการศึกษานอกระบบระ...    2775868700
ค่าปรับปรุงบ้านพัก โรงเรือน และก่อสร้างอื่น ๆ ท...    2702400700
เงินอุดหนุนสำหรับสนับสนุนค่าใช้จ่ายในการจัดการศ...    1705325500
เงินอุดหนุนสำหรับการจัดการศึกษาตั้งแต่ระดับอนุบ...    1147925000
ค่าก่อสร้างอื่น ๆ                                      823070200
เงินอุดหนุนสำหรับสนับสนุนค่าใช้จ่ายในการจัดการศ...     574052300
ค่าใช้จ่ายในการจัดการศึกษาขั้นพื้นฐาน โรงเรียนพ...     560352900
ค่าก่อสร้างอาคารที่ทำการและสิ่งก่อสร้างประกอบ          334291100
ค่าใช้จ่ายลงทุน                                        281052400
เงินอุดหนุนค่าใช้จ่ายในการจัดการศึกษาขั้นพื้นฐาน       235422700
ค่าก่อสร้างอาคารที่พักอาศัยและสิ่งก่อสร้างประกอบ       224995000
ค่าเช่าทรัพย์สิน                                       159600001
ค่าสาธารณูปโภค                                         147565600
ค่าใช้จ่ายในการดำเนินงาน                               143339200
ค่าสำรวจออกแบบ                                          89000000
โครงการเพิ่มประสิทธิภาพปฏิบัติภารกิจการป้องกันแ...      77046000
ค่าควบคุมงาน                                            53240000
ค่าก่อสร้างทางและสะพาน                                  50521000
ค่าเบี้ยประชุมกรรมการ                                   28200200
ค่าปรับปรุงแหล่งน้ำ                                     19250000
ค่าใช้จ่ายกิจกรรม รู้ รัก ภาษาไทย                       10185800
                                                         9800000
ค่าเบี้ยเลี้ยง ที่พัก และพาหนะ                           9091200
งบรายจ่ายอื่น                                            5800000
ค่าปรับปรุงอาคารที่ทำการและสิ่งก่อสร้างประกอบ            5788500
ค่าปรับปรุงอาคารที่พักอาศัยและสิ่งก่อสร้างประกอบ         5175000
เงินอุดหนุนค่าใช้จ่ายในการศึกษาขั้นพื้นฐาน               4901200
ค่าใช้จ่ายในการสัมมนาและฝึกอบรม                          4592500
ค่าปรับปรุงสิ่งก่อสร้างอื่น ๆ                            3157900
ครุภัณฑ์ อื่น ๆ ที่มีราคาต่อหน่วยต่ำกว่า 1 ล้านบาท       2563000
ค่าใช้จ่ายในการสัมมนาและการฝึกอบรม                       2013100
เงินอุดหนุนสำหรับสนับสนุนค่าใช้จ่ายในการจัดการศ...       2001500
ค่าจ้างเหมาบริการ                                        1226000
เงินอุดหนุนค่าใช้จ่ายการศึกษาขั้นพื้นฐาน                 1005300
ค่าเบี้ยเลี้ยง ค่าเช่าที่พักและค่าพาหนะ                   950000
เงินอุดหนุนค่าใช้จ่ายใการจัดการศึกษาขั้นพื้นฐาน           424600
วัสดุคอมพิวเตอร์                                          300000
ค่าบริการสื่อสารและโทรคมนาคม                              224700
ค่าประกาศศาลแพ่ง                                          140000
ค่าป่วยการพยาน                                             20000

In [ ]:
df.groupby('CATEGORY_LV4')[['AMOUNT']].sum().sort_values('AMOUNT', ascending = False)

                                                          AMOUNT
CATEGORY_LV4
ค่าก่อสร้างทางและสะพาน                              286143887900
ค่าก่อสร้างอื่น ๆ                                   188100143800
ค่าก่อสร้างแหล่งน้ำ                                 106737216599
ค่าที่ดินและสิ่งก่อสร้าง                             59185423200
ค่าบำรุงรักษาทางและสะพาน                             44004730100
...                                                          ...
ค่าปรับปรุงสิ่งก่อสร้างอื่น                              5356900
ครุภัณฑ์นวัตกรรมไทย - ด้านยานพาหนะและขนส่ง               3420000
ครุภัณฑ์ดนตรี                                            3112100
สิ่งก่อสร้างนวัตกรรมไทย - ด้านไฟฟ้า อิเล็กทรอนิ...       2034000
ครุภัณฑ์กีฬา                                             1653500

[93 rows x 1 columns]

#**Step 2: Look in to the ministry of natural resources and environment**

**Filter only Ministry of NE and E**

In [ ]:
df_nr = df[df['MINISTRY'] == "กระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม"]

**Group budgetary_unit according to organization chart**

In [ ]:
public_org_name = ['สำนักงานปลัดกระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม',
                   'สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม',
                   'กรมควบคุมมลพิษ',
                   'กรมส่งเสริมคุณภาพสิ่งแวดล้อม',
                   'กรมทรัพยากรน้ำ',
                   'กรมทรัพยากรน้ำบาดาล',
                   'กรมอุทยานแห่งชาติ สัตว์ป่า และพันธุ์พืช',
                   'กรมป่าไม้',
                   'กรมทรัพยากรทางทะเลและชายฝั่ง',
                   'กรมทรัพยากรธรณี']
gov_owned_org_name = ['องค์การอุตสาหกรรมป่าไม้',
                      'องค์การสวนสัตว์แห่งประเทศไทย',
                      'องค์การสวนพฤกษศาสตร์']
private_org_name = ['องค์การบริหารจัดการก๊าซเรือนกระจก (องค์การมหาชน)',
                    'สำนักงานพัฒนาเศรษฐกิจจากฐานชีวภาพ (องค์การมหาชน)']

In [ ]:
#df_nr.insert(4, 'ORG_NAME', 'Null')
df_nr.loc[df_nr['BUDGETARY_UNIT'].isin(public_org_name), 'ORG_NAME'] = 'ส่วนราชการ'
df_nr.loc[df_nr['BUDGETARY_UNIT'].isin(gov_owned_org_name), 'ORG_NAME'] = 'รัฐวิสาหกิจ'
df_nr.loc[df_nr['BUDGETARY_UNIT'].isin(private_org_name), 'ORG_NAME'] = 'องค์การมหาชน'

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1684: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [ ]:
df_nr_water = df_nr[(df_nr['BUDGETARY_UNIT'] == 'กรมทรัพยากรน้ำ') | (df_nr['BUDGETARY_UNIT'] == 'กรมทรัพยากรน้ำบาดาล')]

In [ ]:
df_nr_water.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 305 entries, 41187 to 41491
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   REF_DOC           305 non-null    object
 1   REF_PAGE_NO       305 non-null    int64
 2   MINISTRY          305 non-null    object
 3   BUDGETARY_UNIT    305 non-null    object
 4   BUDGET_PLAN       305 non-null    object
 5   CROSS_FUNC?       305 non-null    bool
 6   PROJECT           212 non-null    object
 7   OUTPUT            78 non-null     object
 8   CATEGORY_LV1      305 non-null    object
 9   CATEGORY_LV2      277 non-null    object
 10  CATEGORY_LV3      210 non-null    object
 11  CATEGORY_LV4      203 non-null    object
 12  CATEGORY_LV5      22 non-null     object
 13  CATEGORY_LV6      0 non-null      float64
 14  ITEM_DESCRIPTION  305 non-null    object
 15  FISCAL_YEAR       305 non-null    int64
 16  OBLIGED?          305 non-null    bool
 17  AMOUNT            305 non-null    int64
 18  ORG_NAME          305 non-null    object
dtypes: bool(2), float64(1), int64(3), object(13)
memory usage: 43.5+ KB

**Text extraction**

In [ ]:
#create new columns
df_nr_water.insert(17, 'TYPE', np.NaN)
df_nr_water.insert(18, 'PROVINCE', np.NaN)
df_nr_water.insert(19, 'MAIN_TYPE', np.NaN)

In [ ]:
#Combinded those budget category
df_nr_water.loc[df_nr_water['TYPE'].isna(), 'TYPE'] = df_nr_water.loc[df_nr_water['TYPE'].isna(), 'CATEGORY_LV4']
df_nr_water.loc[df_nr_water['TYPE'].isna(), 'TYPE'] = df_nr_water.loc[df_nr_water['TYPE'].isna(), 'CATEGORY_LV3']
df_nr_water.loc[df_nr_water['TYPE'].isna(), 'TYPE'] = df_nr_water.loc[df_nr_water['TYPE'].isna(), 'CATEGORY_LV2']
df_nr_water.loc[df_nr_water['TYPE'].isna(), 'TYPE'] = df_nr_water.loc[df_nr_water['TYPE'].isna(), 'CATEGORY_LV1']

In [ ]:
#Import province
province = pd.read_excel('25640531_sc002_.xlsx', usecols = ['ProvinceNameThai', 'RegionDGR', 'Region_WaterResourceOffice', 'Region_RDPB', 'RiverBasin'])
province.rename(columns = {'ProvinceNameThai': 'PROVINCE'}, inplace = True)

*Remark: province info is provided by DGA ([link](https://data.go.th/dataset/proviceandregionthailand))*

In [ ]:
#Type 1: full province
province_type1_list = province.PROVINCE.to_list()
#Type 2: in case the item_description doesn't contain จังหวัด
province_type2_list = []
for i in range(len(province_type1_list)):
  province_type2_list.append(province_type1_list[i].replace('จังหวัด', ''))

In [ ]:
for i in range(len(province_type2_list)):
  df_nr_water.loc[df_nr_water.ITEM_DESCRIPTION.str.contains(province_type2_list[i]), 'PROVINCE'] = province_type1_list[i]

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [ ]:
df_nr_water = pd.merge(df_nr_water, province, on = 'PROVINCE', how = 'left')

In [ ]:
#group higher-level category and saved to MAIN_TYPE
MAIN_TYPE = []
for row in df_nr_water['TYPE']:
  if row in ['ค่าปรับปรุงแหล่งน้ำ', 'ค่าปรับปรุงสิ่งก่อสร้างอื่น ๆ']:
    MAIN_TYPE.append('ค่าปรับปรุงแหล่งน้ำและสิ่งก่อสร้าง')
  elif row in ['ค่าก่อสร้างแหล่งน้ำ', 'ค่าสำรวจออกแบบ', 'ค่าควบคุมงาน', 'ค่าที่ดิน/สิ่งก่อสร้าง']:
    MAIN_TYPE.append('ค่าก่อสร้างแหล่งน้ำ')
  elif row in ['งบบุคลากร', 'เงินเดือนและค่าจ้างประจำ']:
    MAIN_TYPE.append('งบบุคลากร')
  elif row in ['ค่าครุภัณฑ์', 'ครุภัณฑ์การเกษตร', 'ครุภัณฑ์นวัตกรรมไทย - ด้านการเกษตร', 'ค่าตอบแทนใช้สอยและวัสดุ', 'ครุภัณฑ์วิทยาศาสตร์', 'ครุภัณฑ์ยานพาหนะและขนส่ง', 'ครุภัณฑ์คอมพิวเตอร์', 'ครุภัณฑ์สำรวจ']:
    MAIN_TYPE.append('ค่าครุภัณฑ์')
  else:
    MAIN_TYPE.append('งบรายจ่ายอื่น')
df_nr_water['MAIN_TYPE'] = MAIN_TYPE

In [ ]:
#Look up for the given budgetary unit
for i in range(len(province.Region_WaterResourceOffice)):
  df_nr_water.loc[df_nr_water.ITEM_DESCRIPTION.str.contains(province.Region_WaterResourceOffice[i]), 'RECEIVED_WRO'] = province.Region_WaterResourceOffice[i]
for i in range(len(province.RegionDGR)):
  df_nr_water.loc[df_nr_water.ITEM_DESCRIPTION.str.contains(province.RegionDGR[i]), 'RECEIVED_DGR'] = province.RegionDGR[i]

Export

In [ ]:
df_nr_water.to_excel('20220614_MinistryOfNRandE_Labeled.xlsx', index=False)

In [ ]:
df_nr.to_excel('20220614_MinistryOfNRandE.xlsx', index=False)