<a href="https://colab.research.google.com/github/Sirabhop/MFP-Volunteer/blob/main/20220619_DRR_and_DoR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re

In [ ]:
os.chdir('/content/drive/MyDrive/My Project/MFP_Volunteer/20220619_DRRandDoR')

In [ ]:
df = pd.read_excel('/content/drive/MyDrive/My Project/MFP_Volunteer/งบประมาณประเทศไทย 2566 (ฉบับร่างพ.ร.บ.) - PDF to CSV.xlsx', sheet_name = 'RELEASE_22-05-27')

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [ ]:
df_MoT = df[df['MINISTRY'] == 'กระทรวงคมนาคม']
df_MoT.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6337 entries, 34001 to 40339
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   REF_DOC           6337 non-null   object
 1   REF_PAGE_NO       6337 non-null   float64
 2   MINISTRY          6337 non-null   object
 3   BUDGETARY_UNIT    6337 non-null   object
 4   BUDGET_PLAN       6337 non-null   object
 5   CROSS_FUNC?       6337 non-null   bool
 6   PROJECT           3716 non-null   object
 7   OUTPUT            2557 non-null   object
 8   CATEGORY_LV1      6337 non-null   object
 9   CATEGORY_LV2      6191 non-null   object
 10  CATEGORY_LV3      5764 non-null   object
 11  CATEGORY_LV4      5228 non-null   object
 12  CATEGORY_LV5      337 non-null    object
 13  CATEGORY_LV6      0 non-null      float64
 14  ITEM_DESCRIPTION  6337 non-null   object
 15  FISCAL_YEAR       6337 non-null   float64
 16  OBLIGED?          6337 non-null   bool
 17  AMOUNT            6337 non-null   float64
dtypes: bool(2), float64(4), object(12)
memory usage: 854.0+ KB

In [ ]:
df_MoT.pivot_table(values = 'AMOUNT', index = 'BUDGETARY_UNIT', aggfunc = sum).sort_values('AMOUNT', ascending = False)

                                            AMOUNT
BUDGETARY_UNIT
กรมทางหลวง                            3.083237e+11
กรมทางหลวงชนบท                        6.705369e+10
กรมท่าอากาศยาน                        1.777128e+10
กรมเจ้าท่า                            9.167995e+09
กรมการขนส่งทางบก                      5.137526e+09
สำนักงานปลัดกระทรวงคมนาคม             7.828981e+08
สำนักงานนโยบายและแผนการขนส่งและจราจร  6.178675e+08
กรมการขนส่งทางราง                     1.968107e+08

In [ ]:
df_MoT.groupby('CATEGORY_LV1').sum('AMOUNT').sort_values('AMOUNT', ascending = False)

,REF_PAGE_NO,CROSS_FUNC?,CATEGORY_LV6,FISCAL_YEAR,OBLIGED?,AMOUNT
CATEGORY_LV1,,,,,,
งบลงทุน,1592906.0,3605,0.0,11348897.0,2482,3.957045e+11
งบบุคลากร,4852.0,0,0.0,46529.0,0,9.503594e+09
งบดำเนินงาน,88615.0,0,0.0,1076244.0,209,2.496171e+09
งบรายจ่ายอื่น,43674.0,111,0.0,323639.0,119,1.337076e+09
งบเงินอุดหนุน,1440.0,0,0.0,22253.0,0,1.041550e+07

In [ ]:
df_MoT.pivot_table(index = 'CATEGORY_LV1', columns = 'BUDGETARY_UNIT', values = 'AMOUNT', aggfunc = sum)

BUDGETARY_UNIT,กรมการขนส่งทางบก,กรมการขนส่งทางราง,กรมทางหลวง,กรมทางหลวงชนบท,กรมท่าอากาศยาน,กรมเจ้าท่า,สำนักงานนโยบายและแผนการขนส่งและจราจร,สำนักงานปลัดกระทรวงคมนาคม
CATEGORY_LV1,,,,,,,,
งบดำเนินงาน,9.989839e+08,34423600.0,6.154803e+08,1.191017e+08,1.415751e+08,2.357982e+08,50089800.0,300718200.0
งบบุคลากร,1.907514e+09,25935300.0,4.858566e+09,1.411418e+09,3.304982e+08,7.040791e+08,95930500.0,169653300.0
งบรายจ่ายอื่น,2.572190e+07,41624200.0,1.073607e+09,NaN,2.723750e+07,1.600000e+07,108985000.0,43900000.0
งบลงทุน,2.205306e+09,94436200.0,3.017753e+11,6.552257e+10,1.727197e+10,8.205468e+09,362862200.0,266579300.0
งบเงินอุดหนุน,NaN,391400.0,7.310000e+05,5.966000e+05,NaN,6.649200e+06,NaN,2047300.0

In [ ]:
df_MoT_RR = df_MoT[df_MoT['BUDGETARY_UNIT'].isin(['กรมทางหลวง'])]

In [ ]:
df_MoT.to_excel('20220619_MoT.xlsx', index=False)

In [ ]:
df_focused = df_MoT_RR[df_MoT_RR['BUDGET_PLAN'] == 'แผนงานบูรณาการพัฒนาด้านคมนาคมและระบบโลจิสติกส์']

####1. Extract main item

In [ ]:
df_focused[['MAIN', 'TO_DROP', 'MAIN_2']] = df_focused.ITEM_DESCRIPTION.str.partition()
df_focused.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2314 entries, 35869 to 38182
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   REF_DOC           2314 non-null   object
 1   REF_PAGE_NO       2314 non-null   float64
 2   MINISTRY          2314 non-null   object
 3   BUDGETARY_UNIT    2314 non-null   object
 4   BUDGET_PLAN       2314 non-null   object
 5   CROSS_FUNC?       2314 non-null   bool
 6   PROJECT           2314 non-null   object
 7   OUTPUT            0 non-null      object
 8   CATEGORY_LV1      2314 non-null   object
 9   CATEGORY_LV2      2228 non-null   object
 10  CATEGORY_LV3      2228 non-null   object
 11  CATEGORY_LV4      2126 non-null   object
 12  CATEGORY_LV5      298 non-null    object
 13  CATEGORY_LV6      0 non-null      float64
 14  ITEM_DESCRIPTION  2314 non-null   object
 15  FISCAL_YEAR       2314 non-null   float64
 16  OBLIGED?          2314 non-null   bool
 17  AMOUNT            2314 non-null   float64
 18  MAIN              2314 non-null   object
 19  TO_DROP           2314 non-null   object
 20  MAIN_2            2314 non-null   object
dtypes: bool(2), float64(4), object(15)
memory usage: 366.1+ KB

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [ ]:
df_focused.drop(columns = 'TO_DROP', axis = 1, inplace = True)

####2. Extract distance

In [ ]:
to_extract = df_focused['MAIN_2'].values
extracted = []
unit = []
for i in range(len(to_extract)):
  km_index = str(to_extract[i]).find('กม.')
  m_index = str(to_extract[i]).find(' ม.')
  if km_index != -1:
    km = to_extract[i][km_index - 8: km_index]
    km = ''.join(re.findall("[0-9,.]", km))
    extracted.append(km)
    unit.append('km')
  elif m_index != -1:
    m = to_extract[i][m_index - 8: m_index+1]
    m = ''.join(re.findall("[0-9,.]", m))
    extracted.append(m)
    unit.append('m')
  else:
    extracted.append(np.NaN)
    unit.append(np.NaN)

In [ ]:
df_focused['DISTANCE'] = extracted
df_focused['UNIT'] = unit

In [ ]:
df_focused['DISTANCE'] = df_focused['DISTANCE'].str.replace(',', '', regex = True)
df_focused.loc[df_focused['UNIT'] == 'm', 'DISTANCE'] = df_focused.loc[df_focused['UNIT'] == 'm', 'DISTANCE'].astype(float)/1000

####3. Extract province

In [ ]:
df_focused.insert(18, 'PROVINCE', np.NaN)
#Import province
province = pd.read_excel('/content/drive/MyDrive/My Project/MFP_Volunteer/25640531_sc002_.xlsx', usecols = ['ProvinceNameThai', 'RegionName'])
province.rename(columns = {'ProvinceNameThai': 'PROVINCE'}, inplace = True)
#Type 1: full province
province_type1_list = province.PROVINCE.to_list()
#Type 2: in case the item_description doesn't contain จังหวัด
province_type2_list = []
for i in range(len(province_type1_list)):
  province_type2_list.append(province_type1_list[i].replace('จังหวัด', ''))
for i in range(len(province_type2_list)):
  df_focused.loc[df_focused.ITEM_DESCRIPTION.str.contains(province_type2_list[i]), 'PROVINCE'] = province_type1_list[i]

4. Extract road code

In [ ]:
def extract_from_specific_word(df, col_to_extract, word, range_):
  to_extract = df[col_to_extract].values
  extracted = []
  for i in range(len(to_extract)):
    km_index = str(to_extract[i]).find(word)
    if km_index != -1:
      km = to_extract[i][km_index: km_index + range_]
      km = ''.join(re.findall("[0-9]", km))
      extracted.append(km)
      
    else:
      extracted.append(np.NaN)
  return extracted

In [ ]:
df_focused['Road'] = extract_from_specific_word(df_focused, 'ITEM_DESCRIPTION', 'ทางหลวงหมายเลข', 20)

###Answer the question

####1. Obliged budget start from 2023

In [ ]:
#Get dummies
df_focused[['2016','2017','2018','2019','2020','2021','2022','2023','2024','2025']] = pd.get_dummies(df_focused['FISCAL_YEAR'])

In [ ]:
df_distinct = df_focused.groupby('ITEM_DESCRIPTION').sum(['2016','2017','2018','2019','2020','2021','2022','2023','2024','2025'])
df_distinct = df_distinct.iloc[:, 5:]

Get the obliged budget start from 2023.

In [ ]:
df_distinct = df_distinct[(df_distinct['2016'] == 0) & 
                          (df_distinct['2017'] == 0) &
                          (df_distinct['2018'] == 0) &
                          (df_distinct['2019'] == 0) &
                          (df_distinct['2020'] == 0) &
                          (df_distinct['2021'] == 0) &
                          (df_distinct['2022'] == 0) &
                          (df_distinct['2023'] == 1)]
df_distinct.reset_index(inplace = True)

In [ ]:
df_distinct = df_distinct.merge(df_focused[['ITEM_DESCRIPTION', 'BUDGETARY_UNIT', 'BUDGET_PLAN', 
                                'PROJECT', 'OBLIGED?', 'CATEGORY_LV1',
                                'CATEGORY_LV2', 'CATEGORY_LV3', 'CATEGORY_LV4']],
                                how = 'left', on = 'ITEM_DESCRIPTION')

For 57% there are free for the future, 43% are holding back in the past.

In [ ]:
sum(df_distinct.AMOUNT)/sum(df_focused.AMOUNT)

0.5709306575593402

####4. Export

In [ ]:
df_MoT.to_excel('20220619_MoT.xlsx', index=False)

In [ ]:
df_MoT_RR.to_excel('20220619_MoT_province.xlsx', index=False)

In [ ]:
df_focused.to_excel('20220623_MoT_final_DoR.xlsx', index = False)

In [ ]:
df_distinct.to_excel('20220623_MoT_DoR_2023.xlsx', index = False)